Importing pandas

In [71]:
import pandas as pd

Pandas version

In [72]:
print(pd.__version__)

2.2.3

Series

In [ ]:
from pandas import Series 

### Different Datatypes 

int_data = [100,102,104]
int_series = pd.Series(int_data)

float_data = [10.5,20.6,11.5]
float_series = pd.Series(float_data)

object_data = ["Y","a","s"]
object_series = pd.Series(object_data)

bool_data= [True,False]
bool_series = pd.Series(bool_data)

print(f"int datatype : \n{int_series}\n\nfloat datatype : \n{float_series}\n\nobject datatype\n{object_series}\n\nbool datatype\n\n{bool_series}")

### Changing Index  

data = [100,102,104]

changed_labels = Series(data,index = ["User 1","User 2","User 3"])
changed_labels

### loc property 

        ## locate using label
value_user = changed_labels.loc["User 1"]
print(f"\nValue of User 1 (label located)= ${value_user}")

        ## locate using index (staring from zero)
index_located_user_value = changed_labels.iloc[0]
print(f"Value of User 1 (index located)= ${index_located_user_value}")

        ## Changing label
last_value = value_user
changed_labels.loc["User 1"] = 9032
value_user = changed_labels.loc["User 1"]
print(f"\nlast value of user 1 id = {last_value}\ncurrent value after changing using the loc property = {value_user} \n")

        ## filter by value 
prices = [150.5,100,50,20,260,330,550,120]
series_prices = Series(prices,index=["item 1","item 2","item 3","item 4","item 5","item 6","item 7","item 8"])
sum = 0
avg = 0
for price in prices:
    sum = sum + price
avg = sum / len(prices)
print(series_prices[series_prices>avg],"\n")
        ## using dictonary
calories = {"Day 1": 1750, "Day 2":2100,"Day 3":1600} 
## keys will be the labels so no need to insert indeces or labels 
series_calories  = Series(calories)  
print(series_calories)

series_calories.loc["Day 2"] -= 200
print(series_calories.loc["Day 2"],"\n")
print(series_calories.iloc[2],"\n")

print("Cheated days")
print(series_calories[series_calories>1700])

int datatype :
0    100
1    102
2    104
dtype: int64

float datatype :
0    10.5
1    20.6
2    11.5
dtype: float64

object datatype
0    Y
1    a
2    s
dtype: object

bool datatype

0     True
1    False
dtype: bool

Value of User 1 (label located)= $100
Value of User 1 (index located)= $100

last value of user 1 id = 100
current value after changing using the loc property = 9032

item 5    260.0
item 6    330.0
item 7    550.0
dtype: float64

Day 1    1750
Day 2    2100
Day 3    1600
dtype: int64
1900

1600

Cheated days
Day 1    1750
Day 2    1900
dtype: int64

DataFrames

In [74]:
from pandas import DataFrame 

data = {
        "Name":["Spongebob","Patrick","Squidward"],
        "Age":[30,50,35]
    }
df = DataFrame(data)
print(df,"\n")

### same manipulation as the series 

    ## changing labels
df = DataFrame(data,index=["Employee 1","Employee 2","Employee 3"])
print(df,"\n")
    ## loc property by (locate by label =)
print(df.loc["Employee 2"],"\n")
    ## iloc property (locate by index)
print(df.iloc[2],"\n")
    ## filtering by vaule and Accessing a specific feature 
print(df[df["Age"]>30],"\n")

### Adding a new columns
df["Job"] = ["Cook","N/A","Cashier"]
print(df,"\n")
### Adding a new row 
        ## new row = pd.DataFrame([{"feature 1":value,"feature 2":value},{second row (second training example )}])
new_row = DataFrame([{"Name":"Sandy","Age":25,"Job":"Scientist"},{"Name":"Yaseen","Age":20,"Job":"ML Engineer"}],index=["Employee 4","Employee 5"])
# DONT FORGET TO CONCATENATE THE NEW RULE OR THE NEW EXAMPLES
df = pd.concat([df,new_row])
print(df,"\n")
    ## other way to add a row (unsuccessful) different examples must be added independently from eachother 
# new_row = DataFrame([{
#                         "Name":["Yahia","Salem"],
#                         "Age":[18,36],
#                         "Job":["Student","Manger"]
#                     }])
# df = pd.concat([df,new_row])
# print(df,"\n")

        Name  Age
0  Spongebob   30
1    Patrick   50
2  Squidward   35

                 Name  Age
Employee 1  Spongebob   30
Employee 2    Patrick   50
Employee 3  Squidward   35

Name    Patrick
Age          50
Name: Employee 2, dtype: object

Name    Squidward
Age            35
Name: Employee 3, dtype: object

                 Name  Age
Employee 2    Patrick   50
Employee 3  Squidward   35

                 Name  Age      Job
Employee 1  Spongebob   30     Cook
Employee 2    Patrick   50      N/A
Employee 3  Squidward   35  Cashier

                 Name  Age          Job
Employee 1  Spongebob   30         Cook
Employee 2    Patrick   50          N/A
Employee 3  Squidward   35      Cashier
Employee 4      Sandy   25    Scientist
Employee 5     Yaseen   20  ML Engineer

Importing CSV

In [ ]:
df = pd.read_csv("data.csv")
### print truncated data 
print(df)
### print  everything 
print(df.to_string())

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   Bulbasaur    Grass  Poison     0.7     6.9          0
1      2     Ivysaur    Grass  Poison     1.0    13.0          0
2      3    Venusaur    Grass  Poison     2.0   100.0          0
3      4  Charmander     Fire     NaN     0.6     8.5          0
4      5  Charmeleon     Fire     NaN     1.1    19.0          0
..   ...         ...      ...     ...     ...     ...        ...
145  146     Moltres     Fire  Flying     2.0    60.0          1
146  147     Dratini   Dragon     NaN     1.8     3.3          0
147  148   Dragonair   Dragon     NaN     4.0    16.5          0
148  149   Dragonite   Dragon  Flying     2.2   210.0          0
149  150      Mewtwo  Psychic     NaN     2.0   122.0          1

[150 rows x 7 columns]
      No        Name     Type1     Type2  Height  Weight  Legendary
0      1   Bulbasaur     Grass    Poison     0.7     6.9          0
1      2     Ivysaur     Grass    Poison     1.0    13.0          0
2      3    Venusaur     Grass    Poison     2.0   100.0          0
3      4  Charmander      Fire       NaN     0.6     8.5          0
4      5  Charmeleon      Fire       NaN     1.1    19.0          0
5      6   Charizard      Fire    Flying     1.7    90.5          0
6      7    Squirtle     Water       NaN     0.5     9.0          0
7      8   Wartortle     Water       NaN     1.0    22.5          0
8      9   Blastoise     Water       NaN     1.6    85.5          0
9     10    Caterpie       Bug       NaN     0.3     2.9          0
10    11     Metapod       Bug       NaN     0.7     9.9          0
11    12  Butterfree       Bug    Flying     1.1    32.0          0
12    13      Weedle       Bug    Poison     0.3     3.2          0
13    14      Kakuna       Bug    Poison     0.6    10.0          0
14    15    Beedrill       Bug    Poison     1.0    29.5          0
15    16      Pidgey    Normal    Flying     0.3     1.8          0
16    17   Pidgeotto    Normal    Flying     1.1    30.0          0
17    18     Pidgeot    Normal    Flying     1.5    39.5          0
18    19     Rattata    Normal       NaN     0.3     3.5          0
19    20    Raticate    Normal       NaN     0.7    18.5          0
20    21     Spearow    Normal    Flying     0.3     2.0          0
21    22      Fearow    Normal    Flying     1.2    38.0          0
22    23       Ekans    Poison       NaN     2.0     6.9          0
23    24       Arbok    Poison       NaN     3.5    65.0          0
24    25     Pikachu  Electric       NaN     0.4     6.0          0
25    26      Raichu  Electric       NaN     0.8    30.0          0
26    27   Sandshrew    Ground       NaN     0.6    12.0          0
27    28   Sandslash    Ground       NaN     1.0    29.5          0
28    29    Nidoran♀    Poison       NaN     0.4     7.0          0
29    30    Nidorina    Poison       NaN     0.8    20.0          0
30    31   Nidoqueen    Poison    Ground     1.3    60.0          0
31    32    Nidoran♂    Poison       NaN     0.5     9.0          0
32    33    Nidorino    Poison       NaN     0.9    19.5          0
33    34    Nidoking    Poison    Ground     1.4    62.0          0
34    35    Clefairy     Fairy       NaN     0.6     7.5          0
35    36    Clefable     Fairy       NaN     1.3    40.0          0
36    37      Vulpix      Fire       NaN     0.6     9.9          0
37    38   Ninetales      Fire       NaN     1.1    19.9          0
38    39  Jigglypuff    Normal     Fairy     0.5     5.5          0
39    40  Wigglytuff    Normal     Fairy     1.0    12.0          0
40    41       Zubat    Poison    Flying     0.8     7.5          0
41    42      Golbat    Poison    Flying     1.6    55.0          0
42    43      Oddish     Grass    Poison     0.5     5.4          0
43    44       Gloom     Grass    Poison     0.8     8.6          0
44    45   Vileplume     Grass    Poison     1.2    18.6          0
45    46       Paras       Bug     Grass     0.3     5.4          0
46    47    Parasect       Bug     Grass     1.0    29.5          0
47    48     Venonat       Bug    Poison     1.0    30.0          0
48    49    Venomoth       Bug    Poison     1.5    12.5          0
49    50     Diglett    Ground       NaN     0.2     0.8          0
50    51     Dugtrio    Ground       NaN     0.7    33.3          0
51    52      Meowth    Normal       NaN     0.4     4.2          0
52    53     Persian    Normal       NaN     1.0    32.0          0
53    54     Psyduck     Water       NaN     0.8    19.6          0
54    55     Golduck     Water       NaN     1.7    76.6          0
55    56      Mankey  Fighting       NaN     0.5    28.0          0
56    57    Primeape  Fighting       NaN     1.0    32.0          0
57    58   Growlithe      Fire       NaN     0.7    19.0          0
58    59    Arcanine      Fire       NaN     1.9   155.0          0
59    60     Poliwag     Water       NaN     0.6    12.4          0
60    61   Poliwhirl     Water       NaN     1.0    20.0          0
61    62   Poliwrath     Water  Fighting     1.3    54.0          0
62    63        Abra   Psychic       NaN     0.9    19.5          0
63    64     Kadabra   Psychic       NaN     1.3    56.5          0
64    65    Alakazam   Psychic       NaN     1.5    48.0          0
65    66      Machop  Fighting       NaN     0.8    19.5          0
66    67     Machoke  Fighting       NaN     1.5    70.5          0
67    68     Machamp  Fighting       NaN     1.6   130.0          0
68    69  Bellsprout     Grass    Poison     0.7     4.0          0
69    70  Weepinbell     Grass    Poison     1.0     6.4          0
70    71  Victreebel     Grass    Poison     1.7    15.5          0
71    72   Tentacool     Water    Poison     0.9    45.5          0
72    73  Tentacruel     Water    Poison     1.6    55.0          0
73    74     Geodude      Rock    Ground     0.4    20.0          0
74    75    Graveler      Rock    Ground     1.0   105.0          0
75    76       Golem      Rock    Ground     1.4   300.0          0
76    77      Ponyta      Fire       NaN     1.0    30.0          0
77    78    Rapidash      Fire       NaN     1.7    95.0          0
78    79    Slowpoke     Water   Psychic     1.2    36.0          0
79    80     Slowbro     Water   Psychic     1.6    78.5          0
80    81   Magnemite  Electric     Steel     0.3     6.0          0
81    82    Magneton  Electric     Steel     1.0    60.0          0
82    83  Farfetch'd    Normal    Flying     0.8    15.0          0
83    84       Doduo    Normal    Flying     1.4    39.2          0
84    85      Dodrio    Normal    Flying     1.8    85.2          0
85    86        Seel     Water       NaN     1.1    90.0          0
86    87     Dewgong     Water       Ice     1.7   120.0          0
87    88      Grimer    Poison       NaN     0.9    30.0          0
88    89         Muk    Poison       NaN     1.2    30.0          0
89    90    Shellder     Water       NaN     0.3     4.0          0
90    91    Cloyster     Water       Ice     1.5   132.5          0
91    92      Gastly     Ghost    Poison     1.3     0.1          0
92    93     Haunter     Ghost    Poison     1.6     0.1          0
93    94      Gengar     Ghost    Poison     1.5    40.5          0
94    95        Onix      Rock    Ground     8.8   210.0          0
95    96     Drowzee   Psychic       NaN     1.0    32.4          0
96    97       Hypno   Psychic       NaN     1.6    75.6          0
97    98      Krabby     Water       NaN     0.4     6.5          0
98    99     Kingler     Water       NaN     1.3    60.0          0
99   100     Voltorb  Electric       NaN     0.5    10.4          0
100  101   Electrode  Electric       NaN     1.2    66.6          0
101  102   Exeggcute     Grass   Psychic     0.4     2.5          0
102  103   Exeggutor     Grass   Psychic     2.0   120.0          0
103  104      Cubone    Ground       NaN     0.4     6.5          0
104  105     Marowak    Ground       NaN     1.0    45.0          0
105  106   Hitmonlee  Fighting       NaN     1.5    49.8          0
106  107  Hitmonchan  Fighting       NaN     1.4    50.2          0
107  108   Lickitung    Normal       NaN     1.2    65.5          0
108  109     Koffing    Poison       NaN     0.6     1.0          0
109  110     Weezing    Poison       NaN     1.2     9.5          0
110  111     Rhyhorn    Ground      Rock     1.0   115.0          0
111  112      Rhydon    Ground      Rock     1.9   120.0          0
112  113     Chansey    Normal       NaN     1.1    34.6          0
113  114     Tangela     Grass       NaN     1.0    35.0          0
114  115  Kangaskhan    Normal       NaN     2.2    80.0          0
115  116      Horsea     Water       NaN     0.4     8.0          0
116  117      Seadra     Water       NaN     1.2    25.0          0
117  118     Goldeen     Water       NaN     0.6    15.0          0
118  119     Seaking     Water       NaN     1.3    39.0          0
119  120      Staryu     Water       NaN     0.8    34.5          0
120  121     Starmie     Water   Psychic     1.1    80.0          0
121  122    Mr. Mime   Psychic     Fairy     1.3    54.5          0
122  123     Scyther       Bug    Flying     1.5    56.0          0
123  124        Jynx       Ice   Psychic     1.4    40.6          0
124  125  Electabuzz  Electric       NaN     1.1    30.0          0
125  126      Magmar      Fire       NaN     1.3    44.5          0
126  127      Pinsir       Bug       NaN     1.5    55.0          0
127  128      Tauros    Normal       NaN     1.4    88.4          0
128  129    Magikarp     Water       NaN     0.9    10.0          0
129  130    Gyarados     Water    Flying     6.5   235.0          0
130  131      Lapras     Water       Ice     2.5   220.0          0
131  132       Ditto    Normal       NaN     0.3     4.0          0
132  133       Eevee    Normal       NaN     0.3     6.5          0
133  134    Vaporeon     Water       NaN     1.0    29.0          0
134  135     Jolteon  Electric       NaN     0.8    24.5          0
135  136     Flareon      Fire       NaN     0.9    25.0          0
136  137     Porygon    Normal       NaN     0.8    36.5          0
137  138     Omanyte      Rock     Water     0.4     7.5          0
138  139     Omastar      Rock     Water     1.0    35.0          0
139  140      Kabuto      Rock     Water     0.5    11.5          0
140  141    Kabutops      Rock     Water     1.3    40.5          0
141  142  Aerodactyl      Rock    Flying     1.8    59.0          0
142  143     Snorlax    Normal       NaN     2.1   460.0          0
143  144    Articuno       Ice    Flying     1.7    55.4          1
144  145      Zapdos  Electric    Flying     1.6    52.6          1
145  146     Moltres      Fire    Flying     2.0    60.0          1
146  147     Dratini    Dragon       NaN     1.8     3.3          0
147  148   Dragonair    Dragon       NaN     4.0    16.5          0
148  149   Dragonite    Dragon    Flying     2.2   210.0          0
149  150      Mewtwo   Psychic       NaN     2.0   122.0          1

Selection Techniques

In [85]:
df = pd.read_csv("data.csv")

### Selection by column 
name_column =  df["Name"]
        ## print trauncated value 
print(name_column) ### output is a series 
        ## print all values 
print(name_column.to_string())

# print(df["Height"].to_string())

# print(df["Weight"].to_string())
        ## Select Multiple columns 
print(df[["Name","Height","Weight"]])

### Selection by rows 
print(df.loc[0])

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
145       Moltres
146       Dratini
147     Dragonair
148     Dragonite
149        Mewtwo
Name: Name, Length: 150, dtype: object
0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
5       Charizard
6        Squirtle
7       Wartortle
8       Blastoise
9        Caterpie
10        Metapod
11     Butterfree
12         Weedle
13         Kakuna
14       Beedrill
15         Pidgey
16      Pidgeotto
17        Pidgeot
18        Rattata
19       Raticate
20        Spearow
21         Fearow
22          Ekans
23          Arbok
24        Pikachu
25         Raichu
26      Sandshrew
27      Sandslash
28       Nidoran♀
29       Nidorina
30      Nidoqueen
31       Nidoran♂
32       Nidorino
33       Nidoking
34       Clefairy
35       Clefable
36         Vulpix
37      Ninetales
38     Jigglypuff
39     Wigglytuff
40          Zubat
41         Golbat
42         Oddish
43          Gloom
44      Vileplume
45          Paras
46       Parasect
47        Venonat
48       Venomoth
49        Diglett
50        Dugtrio
51         Meowth
52        Persian
53        Psyduck
54        Golduck
55         Mankey
56       Primeape
57      Growlithe
58       Arcanine
59        Poliwag
60      Poliwhirl
61      Poliwrath
62           Abra
63        Kadabra
64       Alakazam
65         Machop
66        Machoke
67        Machamp
68     Bellsprout
69     Weepinbell
70     Victreebel
71      Tentacool
72     Tentacruel
73        Geodude
74       Graveler
75          Golem
76         Ponyta
77       Rapidash
78       Slowpoke
79        Slowbro
80      Magnemite
81       Magneton
82     Farfetch'd
83          Doduo
84         Dodrio
85           Seel
86        Dewgong
87         Grimer
88            Muk
89       Shellder
90       Cloyster
91         Gastly
92        Haunter
93         Gengar
94           Onix
95        Drowzee
96          Hypno
97         Krabby
98        Kingler
99        Voltorb
100     Electrode
101     Exeggcute
102     Exeggutor
103        Cubone
104       Marowak
105     Hitmonlee
106    Hitmonchan
107     Lickitung
108       Koffing
109       Weezing
110       Rhyhorn
111        Rhydon
112       Chansey
113       Tangela
114    Kangaskhan
115        Horsea
116        Seadra
117       Goldeen
118       Seaking
119        Staryu
120       Starmie
121      Mr. Mime
122       Scyther
123          Jynx
124    Electabuzz
125        Magmar
126        Pinsir
127        Tauros
128      Magikarp
129      Gyarados
130        Lapras
131         Ditto
132         Eevee
133      Vaporeon
134       Jolteon
135       Flareon
136       Porygon
137       Omanyte
138       Omastar
139        Kabuto
140      Kabutops
141    Aerodactyl
142       Snorlax
143      Articuno
144        Zapdos
145       Moltres
146       Dratini
147     Dragonair
148     Dragonite
149        Mewtwo
           Name  Height  Weight
0     Bulbasaur     0.7     6.9
1       Ivysaur     1.0    13.0
2      Venusaur     2.0   100.0
3    Charmander     0.6     8.5
4    Charmeleon     1.1    19.0
..          ...     ...     ...
145     Moltres     2.0    60.0
146     Dratini     1.8     3.3
147   Dragonair     4.0    16.5
148   Dragonite     2.2   210.0
149      Mewtwo     2.0   122.0

[150 rows x 3 columns]
No                   1
Name         Bulbasaur
Type1            Grass
Type2           Poison
Height             0.7
Weight             6.9
Legendary            0
Name: 0, dtype: object

In [98]:
# print(df.loc["Bulbasaur"])
## to get the row of a specific example we need 
df = pd.read_csv("data.csv",index_col="Name")
print(df)
print(df.loc["Bulbasaur"],"\n")
        ### select specific columns
print(df.loc["Bulbasaur":"Venusaur",["Height","Weight"]],"\n")
        ### using iloc 
print(df.iloc[0:3,3:5],"\n")

             No    Type1   Type2  Height  Weight  Legendary
Name
Bulbasaur     1    Grass  Poison     0.7     6.9          0
Ivysaur       2    Grass  Poison     1.0    13.0          0
Venusaur      3    Grass  Poison     2.0   100.0          0
Charmander    4     Fire     NaN     0.6     8.5          0
Charmeleon    5     Fire     NaN     1.1    19.0          0
...         ...      ...     ...     ...     ...        ...
Moltres     146     Fire  Flying     2.0    60.0          1
Dratini     147   Dragon     NaN     1.8     3.3          0
Dragonair   148   Dragon     NaN     4.0    16.5          0
Dragonite   149   Dragon  Flying     2.2   210.0          0
Mewtwo      150  Psychic     NaN     2.0   122.0          1

[150 rows x 6 columns]
No                1
Type1         Grass
Type2        Poison
Height          0.7
Weight          6.9
Legendary         0
Name: Bulbasaur, dtype: object

           Height  Weight
Name
Bulbasaur     0.7     6.9
Ivysaur       1.0    13.0
Venusaur      2.0   100.0

           Height  Weight
Name
Bulbasaur     0.7     6.9
Ivysaur       1.0    13.0
Venusaur      2.0   100.0